{% extends "portfolio/base.html" %}
{% block title %}Server Error – Network{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-8 col-lg-6 mx-auto text-center py-5">
        <i class="fas fa-exclamation-triangle fa-5x text-danger mb-4"></i>
        <h1 class="display-4">500</h1>
        <p class="lead">Something went wrong on our end. We're working to fix it.</p>
        <a href="{% url 'portfolio:home' %}" class="btn btn-copper mt-3">Go back home</a>
    </div>
</div>
{% endblock %}